<!DOCTYPE html>
<html lang="en">
<head>
  <title>Knowledge Share</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
 .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 80px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 8px;
    cursor: pointer;
    border-radius: 12px;
}
  </style>
</head>
<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Knowledge Share</a>
    </div>
  </div>
</nav>
<div class="container">
  <h1>Categories</h1>
  
<div class="row">
    <div class="col-sm-4" ><button class="button" >Category</button></div>
    <div class="col-sm-4" ><button class="button" >Category</button></div>
    <div class="col-sm-4" ><button class="button" >Category</button></div>
  </div>
  <br>
<div class="row">
    <div class="col-sm-4" ><button class="button" >Category</button></div>
    <div class="col-sm-4" ><button class="button" >Category</button></div>
    <div class="col-sm-4" ><button class="button" >Category</button></div>
  </div>
  <br>
<div class="row">
    <div class="col-sm-4" ><button class="button" >Category</button></div>
    <div class="col-sm-4" ><button class="button" >Category</button></div>
    <div class="col-sm-4" ><button class="button" >Category</button></div>
  </div>
  <p> </p> 
  <p></p>           
</div>

</body>
</html>
