
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Knowledge Share</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
.hero-widget {padding-top: 2px; padding-bottom: 2px; }
.hero-widget .icon { display: block; font-size: 30px; line-height: 30px; margin-bottom: 3px;  }
.hero-widget var { display: block; height: 20px; font-size: 20px; line-height: 20px; font-style: normal; }
.hero-widget label { font-size: 10px; }
.hero-widget .options { margin-top: 5px; }
</style>

</head>
<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Knowledge Share</a>
    </div>
  </div>
</nav>

 
 <br />
<div class="container">
	<div class="row">
		<div class="hero-widget well well-sm">
                <!-- <div class="icon">
                     <i class="glyphicon glyphicon-star"></i>
                </div> -->
                <a href="/java/post">
                <div class="text">
                    <var>Java variables</var>
                    <label class="text-muted">explore</label>
                </div></a>
                <!-- <div class="options">
                    <a href="/java/post" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-search"></i> </a>
                </div> -->
            </div>
	</div>
</div>

</body>
</html>


